<% provide(:title, "home")%>
  <h1>Forever Idea Stock Note</h1>
  <div class="center">
    <p>
      <%= link_to "新規登録", new_user_path %>
      <c>
        >
      </c>
      <%= link_to "ログイン", login_path %>
    </p>
    <br>
    <hr>
    <div class="left">
      <h3>about</h3>
      <br>
      <p>できること</p>
      <ul>
        <li>メモアプリです</li>
        <li>マイページからメモを投稿することができます</li>
        <li>メモには公開レベルを三段階で設定可能です</li>
        <li>公開・編集可に設定した場合は他ユーザが好き勝手に編集することが可能です</li>
        <li>登録したメモはデフォルトのブックに入れられます</li>
      </ul>
      <p>残念なところ</p>
      <ul>
        <li>パスワードを忘れたら一生わかりません</li>
        <li>他のユーザを検索することができませんので、他ユーザのメモがみたい時はurlをいじらねばなりません</li>
        <li>マイページの、/users/〇〇 の〇〇部分がユーザIDなので、ここの数字をいじれば良いです</li>
        <li>ブックを追加することができません。デフォルトのみです。寂しいですが</li>
        <li>メモは古い順に並んでしまいます</li>
        <li>気まぐれでデータベースをリセットするのでふとした瞬間にメモが消えるかもしれません</li>
        <li>ホーム画面（このページ）はちょっとずれてます</li>
        <li>ガバいので割と簡単に落ちます</li>
      </ul>
    </div>
  </div>
