<div class="col-md-2">
  <div class="sidebar-nav affix" role="complementary">
    <div class="nav">
      <% if !@memos.nil? && @memos.count != 0 %>
        <table>
          <tbody>
            <th>メモ一覧</th>
            <% @memos.each do |m| %>
              <tr>
                <td><%= link_to display_title(m.title), user_path(params[:id], memo_id: m.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
