.navbar#memo_menu{
  background: transparent;
}

input.custom[type="text"] {
  padding: 2px 4px;
  outline: 0;
  border: 0;
  background: transparent;
  // font-size: 20px;
}

textarea.custom {
  padding: 2px 4px;
  outline: 0;
  border: 0;
  background: transparent;
  // font-size: 20px;
}
