<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <% if !@memos.nil? && !@memos.count.zero? %>
      <li>
        <a data-toggle="collapse" data-target="#submenu-1">
          <i class="fas fa-book"></i>
          book
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>
        <ul id="submenu-1" class="collapse">
          <li>
            <a href="#">
              <i class="fa fa-angle-double-right"></i>
              MEMO 1</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-double-right"></i>
              MEMO 2</a>
          </li>
        </ul>
      </li>
      <% @memos.each do |m| %>
      <li>
        <%= link_to(user_path(params[:id], memo_id: m.id)) do %>
        <i class="far fa-sticky-note"></i>
        <%= display_title(m.title) %></a>
        <% end %>
      </li>
      <% end %>
    <% else %>
      <li>
        <a>
        <i class="far fa-comment"></i>
        <br>表示できるメモはありません</a>
      </li>
    <% end %>
  </ul>
</div>
